<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='mao.ico') }}">
</head>
<body>
    {% if current_user.is_active %}
        <div>欢迎 <b>{{ current_user.username }}</b> ！</div>
    {% endif %}
    <div>这是首页</div>
    <div><a href="{{ url_for('auth.logout')}}">注销</a></div>
    <div><a href="/{{ current_user.username }}/">我的日历</a></div>
    <div><a href="{{ url_for('pub_calendar.pub_index_publish') }}">公用日历</a></div>

</body>
</html>